.mdxContent {
  code {
    font-weight: bold;
    font-size: smaller;
  }

  pre {
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 8px;
  }

  h2,
  h3,
  h4 {
    padding-left: 4px;
    border-radius: 1px;
    border-left: #0078d7 8px solid;
  }
}
