.main {
  text-align: center;
}

.hero_title {
  user-select: none;
  font-family: "Nabla", cursive;
  font-size: 4rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.description {
  letter-spacing: 0.025rem;
}
