.navbarWrapper {
  padding: 12px;
  .navbar {
    height: 60px;
    width: auto;
    padding: 12px 18px;
    // background-color: $primary-color;
    border: 1.5px solid whitesmoke;
    border-radius: 8px;
    display: flex;
    align-items: center;
    .navItems {
      display: flex;
      align-items: center;
      gap: 18px;
      .navItem {
        &:hover {
          text-decoration: underline;
          text-decoration-color: #0078d7;
          text-underline-offset: 4px;
        }
      }
    }
  }
}
