.navbarWrapper {
  padding: 20px 0;
  overflow-x: hidden;

  .navbar {
    height: 60px;
    width: auto;
    padding: 12px 20px;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    gap: 48px;

    .iconWrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      user-select: none;

      .icon {
        background-color: #50c878;
        border-radius: 6px;
        border: 1.5px solid black;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
      }

      .text {
        font-weight: 500;

        &:hover {
          color: #50c878;
        }
      }
    }

    .navItems {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 18px;

      .leftArea {
        display: flex;
        align-items: center;
        gap: 18px;
      }

      .rightArea {
        display: flex;
        align-items: center;
        gap: 18px;
      }

      .navLinkItem {
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;

        &:hover {
          color: #50c878;
          text-decoration: underline;
          text-decoration-color: #50c878;
          text-underline-offset: 4px;
        }

        &:active {
          color: rgba(2, 255, 61, 0.1);
        }
      }

      .navIconItemWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .navIconItem {
          transition-property: all;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 300ms;
          opacity: 1;

          &:hover {
            opacity: 0.5;
          }

          &:active {
            opacity: 0.25;
          }
        }
      }
    }
  }
}
