---
import { BaseLayout } from '@/layouts'
import { getEntryBySlug } from 'astro:content'

const { slug } = Astro.params

if (slug === undefined) {
  throw new Error('Slug is required')
}

const entry = await getEntryBySlug('post', 'zh/' + slug)

if (entry === undefined) {
  return Astro.redirect('/404')
}

const { Content } = await entry.render()

const getDate = (id: string) => id.split('/').pop()!.substring(0, 10)
---

<BaseLayout title={entry.data.title}>
  <div class="mb-4 text-4xl/tight font-bold">{entry.data.title}</div>
  <div class="mb-8 font-default text-lg font-medium tracking-wider text-muted dark:text-white">{getDate(entry.id)}</div>
  <Content />
</BaseLayout>
