---
import { BaseLayout } from '@/layouts'

const TITLE_TEXT = 'Tags'
---

<BaseLayout
  title={TITLE_TEXT}
  contentTitle={TITLE_TEXT}
>
  <span class="text-xl">Tags page is under development!</span>
</BaseLayout>
