---
import { SITE_META } from '@/configs'
import { BaseLayout } from '@/layouts'

const { author } = SITE_META

const TITLE_TEXT = 'Home'
---

<BaseLayout title={TITLE_TEXT}>
  <div class="mb-4 text-4xl/tight font-bold">{author}</div>
</BaseLayout>
