---
import { ContentTitle, Motto } from '@/components'
import { SITE_META } from '@/configs'
import { BaseLayout } from '@/layouts'
import AstroIcon from '~icons/logos/astro-icon'
import JavaScriptIcon from '~icons/logos/javascript'
import NextjsIcon from '~icons/logos/nextjs-icon'
import NodejsIcon from '~icons/logos/nodejs-icon'
import PostgresqlIcon from '~icons/logos/postgresql'
import PrismaIcon from '~icons/logos/prisma'
import ReactIcon from '~icons/logos/react'
import TypeScriptIcon from '~icons/logos/typescript-icon'
import VueIcon from '~icons/logos/vue'

const { author } = SITE_META

const TITLE_TEXT = 'Home'
const CONTENT_TITLE_TEXT = 'Profile'
---

<BaseLayout
  title={TITLE_TEXT}
  contentTitle={CONTENT_TITLE_TEXT}
>
  <ContentTitle
    class="mt-8"
    fontSize="small"
  >
    About Me
  </ContentTitle>
  <ul class="space-y-2">
    <li>👋 Hi, I'm {author}.</li>
    <li>📖 I'm interested in reading different books.</li>
    <li>🌱 I'm currently learning Vue and TypeScript.</li>
    <li>💞️ I'm looking to collaborate on a React/Vue project.</li>
    <li>🚀 I recently built a web app based on Vue 3, TypeScript.</li>
    <li>📫 You can contact me with my email recall4056@gmail.com.</li>
  </ul>

  <ContentTitle
    class="mt-12"
    fontSize="small"
  >
    Motto
  </ContentTitle>
  <Motto client:only="react" />

  <ContentTitle
    class="mt-12"
    fontSize="small"
  >
    Stack
  </ContentTitle>
  <div class="flex items-center space-x-1">
    <JavaScriptIcon class="w-8" />
    <TypeScriptIcon class="w-8" />
    <ReactIcon class="w-8" />
    <VueIcon class="w-8" />
    <NextjsIcon class="w-8" />
    <AstroIcon class="w-8" />
    <NodejsIcon class="w-8" />
    <PrismaIcon class="w-8" />
    <PostgresqlIcon class="w-8" />
  </div>

  <ContentTitle
    class="mt-12"
    fontSize="small"
  >
    Others
  </ContentTitle>
  <div>
    My blog site is inspired by
    <a
      href="https://zxh.io"
      rel="noopener noreferrer"
      class="inline-block hover:text-primary hover:underline"
      target="_blank"
    >
      `zxh.io`
    </a>
     which the author is
    <a
      href="https://github.com/Renovamen"
      rel="noopener noreferrer"
      target="_blank"
      class="inline-block hover:text-primary hover:underline"
    >
      `Renovamen`
    </a>.
  </div>
</BaseLayout>
