---
import { siteMetaData } from '@/constants'

const { copyright } = siteMetaData
---

<div class="absolute bottom-0 left-0 right-0 h-fit p-4 text-center">
  <span class="font-mono text-lg font-semibold">{copyright}</span>
</div>
