---
import type { Lang } from '@/types'

export interface Props {
  lang: Lang
}

const { lang } = Astro.props

const EN_TEXT = 'EN'
const ZH_TEXT = '中文'
---

<span class="text-muted ml-2 inline-flex space-x-1 text-xl">
  <a
    href="/posts"
    class:list={[{ 'text-primary': lang === 'en' }, 'hover:underline']}
  >
    {EN_TEXT}
  </a>
  <span>/</span>
  <a
    href="/posts/zh"
    class:list={[{ 'text-primary': lang === 'zh' }, 'hover:underline']}
  >
    {ZH_TEXT}
  </a>
</span>
