---
import { BaseLayout } from '@/layouts'

const TITLE_TEXT = 'Search'
---

<BaseLayout
  title={TITLE_TEXT}
  contentTitle={TITLE_TEXT}
>
  <span class="text-xl">Search page is under development!</span>
</BaseLayout>
