@use 'markdown';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* TODO: Adjust scrollbar style, make it auto hide. */
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-default-sans);
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}
