.markdown-body {
  margin: 0 auto !important;

  img {
    display: block;
  }

  code {
    font-weight: normal;
    font-size: 16px;
    font-family: Input Mono, Fira Code, '微软雅黑', monospace;
    font-variant-ligatures: none;
  }

  pre {
    code {
      font-size: 14px;
    }
  }

  blockquote {
    font-size: 16px;
  }
}
