---
import '@/styles/base.css'

import { ContentContainer, ContentTitle, Footer, Header, NProgressProvider } from '@/components'
import ProfileIcon from '~icons/line-md/account'
import ProjectIcon from '~icons/line-md/document-code'
import PostIcon from '~icons/line-md/edit'
import SearchIcon from '~icons/line-md/search'

export interface Props {
  title: string
  contentTitle?: string
}

const { title, contentTitle } = Astro.props

const getDocumentTitle = () => `${title} - Bruce Song`
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.ico"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="title"
      content="Bruce Song's Blog"
    />
    <meta
      name="description"
      content="Bruce Song's personal blog."
    />
    <meta
      name="author"
      content="Bruce Song"
    />
    <title>{getDocumentTitle()}</title>
  </head>

  <script>
    ;(function () {
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
        localStorage.setItem('theme', 'dark')
      } else {
        document.documentElement.classList.remove('dark')
        localStorage.setItem('theme', 'light')
      }
    })()
  </script>

  <body class="dark: bg-[#F6F6F6] dark:bg-[#36393F]">
    <NProgressProvider client:only="react">
      <main class="relative flex min-h-full flex-col px-4 py-20 font-sans dark:text-white">
        <Header client:only="react">
          <ProfileIcon slot="profileIcon" />
          <PostIcon slot="postIcon" />
          <ProjectIcon slot="projectIcon" />
          <SearchIcon slot="searchIcon" />
        </Header>
        <ContentContainer>
          {contentTitle && <ContentTitle>{contentTitle}</ContentTitle>}
          <slot />
        </ContentContainer>
        <Footer />
      </main>
    </NProgressProvider>
  </body>

  <style scoped>
    .dark {
      color-scheme: dark;
    }
  </style>
</html>
