---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html
  lang="en"
  class="bg-[#f6f6f6]"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.ico"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
  }
</style>
