---
import { BaseLayout } from '@/layouts'
export interface Props {
  title: string
}

const { title } = Astro.props
---

<BaseLayout title={title}>
  <div class="h-full w-full mx-auto my-4 md:w-[600px] lg:w-[800px] text-lg">
    <slot />
  </div>
</BaseLayout>
