.card {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  // background-color: $primary-color;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 0.1);
  &:hover {
    background-color: whitesmoke;
  }
  &:active {
    background-color: wheat;
  }
  .title {
    font-weight: 600;
    font-size: 18px;
  }
  .date {
    font-weight: 300;
    font-size: 14px;
  }
  .language {
    font-size: larger;
    font-size: 15px;
  }
}
